<body>
  <blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laborum
      cum, excepturi ducimus at hic ipsum, quaerat eaque atque quae repellat
      placeat velit temporibus ad harum animi quos, iste ut!
    </p>
    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary quote__line">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">john smith</h3>
          <p class="quote__organisation">abc company</p>
        </div>
      </div>
    </footer>
  </blockquote>
</body>
